Source: gxdm-emergency-mode
Section: admin
Priority: optional
Maintainer: CharOfString <root@charofstring.cc>
Build-Depends: debhelper-compat (= 13),
               cargo (>= 1.88) | cargo-web | cargo-1.95,
               rustc (>= 1.88) | rustc-web | rustc-1.95,
               libclang-dev,
               libpam0g-dev,
               libsystemd-dev
Standards-Version: 4.7.2
Rules-Requires-Root: no
Homepage: https://github.com/GXDE-OS/gxdm-emergency-mode

Package: gxdm-emergency-mode
Architecture: linux-any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         systemd,
         kbd,
         bash,
         dbus-user-session,
         dbus-bin,
         libpam-modules,
         libpam-runtime,
         libpam-systemd
Recommends: x11-common,
            xauth,
            xinit,
            xserver-xorg-core
Description: A terminal-based emergency display manager for GXDE that logs you in when GXDM fails to start.
